/*VARIABLES*/
:root {
    --mx-width: 1320px;
    --color-strong: #383816;
    --color-title: #414141;
    --color-line: #E5E5E5;
    --color-hover: #D4AF37;
    --color-detail: #8a8782;
    --color-letters: #a5a4a4;
    --color-layout: #fcfaf6;
    --color-back: #585858;
    --color-text-body: #525260;

}

/*ESTILOS GENERALES*/
html {
    font-size: 62.5%;
    /*definimos el rem*/
    overflow-x: hidden;
    /*esto significa que todo lo que sobre salga en x se esconda*/
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;

    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text-body);
}


/*ESTRUCTURA LAYOUT*/

.layout {
    width: 100%;
    /* ocupa todo el ancho disponible */
    /* nunca pasa de tu variable (1320px) */

    min-width: auto;
    /* quita el min-width:1200px original */
    box-sizing: border-box;
    /* paddings/borders no suman ancho extra */
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

/*Boton de responsive*/


.menu-mobile {

    visibility: hidden;
    opacity: 0;

    position: fixed;
    z-index: 10;
    width: 30rem;
    height: 100%;
    background-color: var(--color-secondary);
    top: 0;
    left: -300px;
    transition: all 300ms ease-in-out;
    padding: 5rem 1rem;
    padding-top: 0;
    box-shadow: 0px 0px 85px 50px rgba(0, 0, 0, 0.5);
    overflow-y: auto;

}

.menu-mobile--show {
    visibility: visible;
    opacity: 1;
    left: 0;

}




/*ESTILOS MENU NAVEGACION Y CABECERA DE LA WEB*/

/*MENU*/
.layout__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    z-index: 10;
    background-color: var(--color-detail);
    border-right: 1px solid var(--color-back);

}

.menu__sections {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}


.menu__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.menu__top {
    width: 100%;
    text-align: center;
    font-family: 'Ephesis', serif;
    font-size: 5rem;
    line-height: 1;
}

/* Aumentar tamaño de letras en los links de menú medio */
.menu__middle-link {
    font-size: 2rem;
    /* aumenta tamaño */
    position: relative;
    color: var(--color-back);
    text-decoration: none;
    padding-left: 2.5rem;
    /* espacio para el cuadro lateral */
    transition: color 0.3s ease;
    z-index: 1;
}

/* Cuadro lateral izquierdo que aparece en hover */
.menu__middle-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-back);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: -1;
}

/* Hover: aparece el fondo y cambia el color del texto */
.menu__middle-link:hover::before {
    transform: scaleX(1);
}

.menu__middle-link:hover {
    color: white;
    /* el texto pasa a blanco sobre el fondo */
}

.menu__bottom {
    margin-top: auto;
    text-align: center;
    width: 100%;
    background-color: var(--color-back);
}

/* Estilos para el link confirmar */
.menu__bottom-link {
    display: inline-block;
    width: 100%;
    font-size: 5rem;
    font-weight: 100;
    font-style: italic;
    padding: 1rem 3rem;

    cursor: pointer;
    color: var(--color-detail);
    background-color: transparent;
    transition: transform 0.5s ease, background-color 0.3s ease, color 0.3s ease;
    perspective: 600px;
    /* para dar profundidad al giro */
    position: relative;
    transform-style: preserve-3d;
}

/* Efecto de giro al hover o focus */
.menu__bottom-link:hover,
.menu__bottom-link:focus {
    background-color: var(--color-hover);
    color: white;
    transform: rotatex(360deg);
}



/*LAYOUT COMPLETO*/
.layout__complete {
    background-color: var(--color-layout);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 20%;
    width: 80%;
}

.title__wrapper {
    position: relative;
    overflow: hidden;
    /* Esto crea el efecto de que "sale de dentro" */
    width: 100%;
    padding: 1rem;
}

.title__display {
    width: 100%;
    transform: translateY(100px);
    /* Comienza más abajo */
    transition: transform 0.7s ease-out;
}

.title__display.show-title {
    transform: translateY(0);
    /* Sube a su posición */
}

.title__subtitle {
    font-family: 'Ephesis', serif;
    font-style: italic;
    font-size: 9rem;
    line-height: 0.6;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.title__subtitle.show {
    opacity: 1;
    transform: translateY(0);
}

/*TITULO*/
.layout__title {
    position: relative;
    height: 50vh;
    /* ocupa toda la primera pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    z-index: 5;
    overflow: hidden;
    font-family: 'Ephesis', serif;
    color: var(--color-strong);

}

.title__name {
    font-style: italic;
    font-size: 20rem;
    position: absolute;
    transition: all 1s ease;
    z-index: 20;
}

.title__name1 {
    left: 30%;
    transform: translateX(-50%);
    top: 10%;
}

.title__name2 {
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}

.title__name.scrolled {
    font-size: 2rem;
    top: 20rem;
    opacity: 1;
    position: fixed;

}

.title__name1.scrolled {
    left: calc(20% + 30px);
    /* 20% por el menú + 30px de separación */
    transform: none;
}

.title__name2.scrolled {
    right: 30px;
    left: auto;
    transform: none;
}

/* Cuando desaparecen más abajo */
.title__name.faded {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/*IMAGEN*/

/*COUNTDOWN*/
.layout__countdown {
    width: 100%;
    padding: 1rem;
}

.countdown__numbers {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    border: 2px solid var(--color-detail);
    padding: 1rem;
}

.countdown__info {
    border: 2px solid var(--color-detail);
    width: 25rem;
    color: var(--color-detail);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.countdown__number {
    font-weight: 700;
    line-height: 0.9;
    font-size: 8rem;
    transition: all 0.4s ease ease-in-out;
}

.countdown__type {
    font-size: 5rem;
    font-style: italic;
}

/*PHRASE*/
.layout__phrase {
    position: relative;
    padding: 20rem 2rem;
    overflow: hidden;
}

.phrase__container {
    position: relative;
    z-index: 2;
    text-align: center;
}

.phrase__phrase {
    font-size: 8rem;
    font-weight: 100;
    line-height: 1.5;
    position: relative;
}

.phrase__letter {
    position: absolute;
    font-size: 10rem;
    font-family: 'Ephesis', serif;
    font-weight: bold;
    z-index: 1;
    transition: transform 0.2s ease;
    color: var(--color-letters);
}

.phrase__letter1 {
    top: 50%;
    left: 30%;
    transform-origin: center;
}

.phrase__letter2 {
    bottom: 50%;
    right: 30%;
    transform-origin: center;
}

/*STORY*/
.layout__story {
    padding-bottom: 20rem;
}

.story__description {
    border-top: 1px solid var(--color-line);
    overflow: hidden;
    /* Hace que el título parezca salir desde "detrás" */
    position: relative;
    align-content: center;
    text-align: center;
}

.story__text {
    margin: 0 auto;
    width: 30rem;
    padding-top: 10rem;
    padding-bottom: 10rem;


}


.story__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
    gap: 2rem;
    position: relative;
}

.story__image {
    width: 30rem;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.story__image.show-card {
    opacity: 1;
    transform: translateY(0);
}

.story__image1 {
    transform-origin: center bottom;
    transform: translateY(100px) rotate(-5deg);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.story__image1.show-card {
    opacity: 1;
    transform: translateY(0) rotate(-20deg);
}

.story__image2 {
    /* imagen del medio, sin rotación */
    transform-origin: center bottom;
    transform: translateY(100px) rotate(0deg);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.story__image2.show-card {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
}

.story__image3 {
    transform-origin: center bottom;
    transform: translateY(100px) rotate(5deg);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.story__image3.show-card {
    opacity: 1;
    transform: translateY(0) rotate(20deg);
}

/*VIDEO*/

/*WW*/
/* Contenedor principal */
.layout__ww {
    padding: 2rem 2rem;
    color: var(--color-text);
    /* Ajusta a tu variable de texto */
}

/* Display con fondo */
.ww__display {
    position: relative;
    width: 100%;
    height: auto;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;

    transform: scale(0.9);
    transition: transform 0.5s ease;
}

.ww__display_grow {
    transform: scale(1.05);
    /* Se hace más grande al hacer scroll */
}


.ww__info_grow {
    transform: scale(1);
    opacity: 1;
}

.ww__display::before {
    margin-top: 2rem;
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../img/bgmap.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) brightness(0.9);
    z-index: -1;
}

/* Info que se va a animar */
.ww__info {
    padding: 5rem 5rem;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background-color: var(--color-layout);
    margin-top: 5rem;
    margin-bottom: 5rem;
    transform: scale(0.7);
    /* Empieza pequeño */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.ww__text {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--color-primary-dark);
}

.ww__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    font-size: 3rem;
    text-decoration: none;
    color: var(--color-detail);
    margin-top: 1rem;
    border: 2px solid var(--color-detail);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ww__link:hover {
    background-color: var(--color-detail);
    color: var(--color-back);
}



/*INFO*/
.info__display {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8rem;
    gap: 5rem;
}

.info__item {
    flex-basis: 33%;
}

.info__subtitle,
.bold__span {
    font-weight: bold;
    font-style: italic;
}

/*SCHEDULE*/

.schedule__display {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.schedule__left {
    flex-basis: 50%;
    position: sticky;
    top: 0;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule__right {
    flex-basis: 50%;
    width: 100%;

}

.schedule__hours {
    text-align: center;
    font-family: 'Ephesis', serif;
    font-size: 10rem;
    width: 100%;

}

.schedule__item {
    height: 90vh;
    border-bottom: 1px solid var(--color-back);
    border-left: 1px solid var(--color-back);
    justify-content: center;
    align-content: center;
    padding: 6rem;
}

.schedule__hour_active {
    color: var(--color-detail);
    /* o cualquier color que resalte */
    background-color: var(--color-title);
}

.schedule__hour {
    width: 100%;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.schedule__title {
    font-family: 'Ephesis', serif;
    font-size: 3rem;
}

/*RSVP*/
.layout__rsvp {
    width: 100;
    border: 1px solid var(--color-back);
}

.rsvp__letters {
    border: 1px solid var(--color-back);
}

.rsvp__letter {
    color: var(--color-back);
    font-family: 'Ephesis', serif;
    font-size: 50rem;
    line-height: 1;
    text-align: center;
}

.rsvp__button {
    background-color: var(--color-back);
    border: 1px solid var(--color-back);

}

.rsvp__confirm {
    color: var(--color-layout);
    font-family: 'Ephesis', serif;
    text-align: center;
    font-size: 9rem;
}

.rsvp__info {
    text-align: center;
    padding: 1rem;
}

.rsvp__input {
    font-size: 3rem;
    padding: 2rem;
    width: 100%;
}

/*FORMS*/
/* Fondo oscuro semitransparente que cubre toda la pantalla */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* sombra oscura */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Contenedor del contenido del modal */
.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 90%;
    width: 700px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 0.4s ease-out;
}

/* Animación suave al aparecer */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsivo */
@media (max-width: 768px) {
    .modal-content {
        width: 95%;
        padding: 1rem;
    }
}

.forms__name-type {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    font-style: italic;

}

.forms__invitations-type {
    font-weight: 700;
    text-decoration: underline;
    font-size: 3rem;

}
/*WEATHER*/
.weather__week {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.weather__display {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--color-back);
    font-size: 1rem;
}
.weather__display-night{
    background-color: var(--color-letters);
    color: var(--color-layout);

}
.weather__icon-day{
    font-size: 3rem;
}
.weather__icon-night{
    font-size: 3rem;

}
/*TRIVA*/
.trivia__option {
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.trivia__option:hover {
    background-color: #eee;
}

.trivia__option.selected {
    background-color: #cce5ff;
}

.trivia__result {
    margin-top: 1rem;
    font-weight: bold;
}

/*REEL*/
.layout__reel {
    padding: 10rem;
}

/*SPOTIFY*/
.layout__spotify {
    width: 100%;
    padding: 5rem;
}

/*GIFTS*/
.gifts__display{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.gifts__item{
    
    border: 1px solid var(--color-back);
}
.bank__number {
    font-size: 1.6rem;
    font-weight: 500;
}

.fa-clone {
    cursor: pointer;
}

#copyIcon.copied {
    color: var(--color-subtitles);
    transform: scale(1.2);
    transition: all 0.3s ease;
}

/*FAQs*/
.layout__faqs {
    text-align: center;
    padding: 4rem 2rem;
}

.faqs__container {
    max-width: 60rem;
    margin: auto;
}

.faqs__item {
    border-bottom: 1px solid var(--color-detail);
    padding: 0.5rem 0;
}

.faqs__question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--color-subtitle);
    font-size: 1.5rem;
}

.faq__icon {
    transition: transform 0.3s ease;
    font-size: 3rem;
    color: var(--color-detail);
    line-height: 0.9;
}

.faqs__item.open .faq__icon {
    transform: rotate(45deg);
}

.faqs__answer {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    text-align: left;
    font-size: 1.2rem;
    font-style: italic;
    color: var(--color-text);


}

.faqs__item.open .faqs__answer {
    opacity: 1;
}


.faqs__display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
}


.faqs__qtext {
    font-weight: 600;
    font-size: 1.2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*FOOD*/
.food__display{
    width: 20rem;
    border-radius: 40px 40px 0 0;
    border: 1px solid var(--color-back);
    overflow: hidden;
}
.food__menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
/*THANKS*/
.thanks__people{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.thanks__display{
    border: 10px solid var(--color-detail);
    padding: 1rem;
    background-color: var(--color-hover);
    color: var(--color-layout);
}
.thanks__text{
    font-size: 3rem;
}

/*PARENTS*/
.parents__display{
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.parents__couple{
    border: 20px solid var(--color-hover);
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    overflow: hidden;
    padding: 2rem;
}
.parents__img{
    width: 100%;
    border-radius: 60px;
    border: 10px solid var(--color-detail);
}